{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Showcase</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bs.css' %}">
</head>

<body>


    <!-- Navigation Bar -->
    <center>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top abc">
            <a class="navbar-brand" href="#" style="color: white;">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}" style="color: white;">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'link' %}" style="color: white;">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false" style="color: white;">
                            Dropdown
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" style="color: white;">About</a>
                            <a class="dropdown-item" href="#" style="color: white;">Contact</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" style="color: white;">Loaction</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: white;">Search</button>
                </form>
            </div>
        </nav>
    </center>

    <center>
        <h1>This Is My First Boostrap Project</h1>
    </center>


    <center>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum omnis iure odio, deserunt nemo reiciendis fugiat nesciunt illo tempore quos tempora sed aut beatae corrupti, amet error veniam earum temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus soluta expedita eaque quam! Voluptatum veritatis at nesciunt maxime quas reiciendis illo perspiciatis repellendus fugit. Eos aliquam possimus aspernatur doloribus quod? Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium odit quod alias deserunt libero dolorum reprehenderit hic vitae culpa laboriosam, voluptatum possimus. Ut dicta saepe eaque numquam magnam sunt!</p>
    </center>



    <!-- Carousel Section -->
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <!-- Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <!-- Carousel Items -->
            <div class="carousel-inner">
                <!-- Carousel Item 1 -->
                <div class="carousel-item active">
                    <img src="{% static 'images/Indian_Cricketers.webp' %}" class="d-block w-100" alt="...">
                </div>
                <!-- Carousel Item 2 -->
                <div class="carousel-item">
                    <img src="{% static 'images/virat.jpeg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Virat Kohli</h5>
                        <p>King Virat Kohli The Run Chase Master Machine.</p>
                    </div>
                </div>
                <!-- Carousel Item 3 -->
                <div class="carousel-item">
                    <img src="{% static 'images/rohit.jpeg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Rohit Sharma</h5>
                        <p>Indian Opener Hit Man Batsman.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/iyer.jpeg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Shreyas Iyer</h5>
                        <p>He Got World Cup Century In 2023.</p>
                    </div>
                </div>
            </div>
            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>
    



<center>
        <h1 class="hello">Top Indain Cricketeres Squad-11</h1>
</center>
<center>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nesciunt nostrum eveniet molestias harum molestiae nulla laboriosam, sint debitis voluptate minus, dicta reiciendis voluptas, sed suscipit doloribus expedita possimus consequuntur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur provident sapiente facere incidunt numquam! Deleniti dolorem aliquam quasi minus, amet autem harum, quis impedit ipsa optio modi, nobis minima sequi!Lorem</p>
</center>

        <!-- Card Section -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/gill.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Subham Gill</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Click Here For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/rohit.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rohit Sharma</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Click Here For More</a>
                        </div>
                    </div>  
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/virat.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Virat Kohli</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Click Here For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/iyer.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sheryas Iyer</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Click Here For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/rahul.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">KL Rahul</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Click Here For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/sky.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">SuryaKumar Yadav</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Click Here For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/jadeja.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ravindra Jadeja</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Click Here For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/Shami.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mohammad Shami</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Click Here For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/bumrah.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bumrah</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Click Here For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/kuldeep.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Kuldeep Yadav</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Click Here For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/siraj.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mohammad siraj</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Click Here For More</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    <!-- Footer -->
    <footer>
        <h1>CopyRights:&copy;2023</h1>
        <small>
            Developed & Maintained by
            <a href="#" target="_blank">BCII</a>
        </small>
    </footer>

    <!-- Bootstrap JS Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>